html {
  background: url(/img/bg6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
}

body::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

section {
  background: transparent;
  border: 0px solid #aaa;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#name {
  color: #aaa;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  text-align: center;
}
